<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Boonta Pursuit - Soumettre une question</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="icon" href="/res/favicon.ico">
</head>

<body>
    <div class="form-container">
        <form method="post">
            <table>
                <tr>
                    <th></th>
                    <th><span>Est une bonne réponse</span></th>
                </tr>

                <tr><td><input name="question" placeholder="Question à ajouter"></td></tr>
                
                <tr>
                    <td><input name="choices[]" placeholder="Premier choix"></td>
                    <td><input type="checkbox" name="isvalid[]" value="0"></td>
                </tr>
                <tr>
                    <td><input name="choices[]" placeholder="Deuxième choix"></td>
                    <td><input type="checkbox" name="isvalid[]" value="1"></td>
                </tr>
                <tr>
                    <td><input name="choices[]" placeholder="Troisième choix"></td>
                    <td><input type="checkbox" name="isvalid[]" value="2"></td>
                </tr>
                <tr>
                    <td><input name="choices[]" placeholder="Quatrième choix"></td>
                    <td><input type="checkbox" name="isvalid[]" value="3"></td>
                </tr>
                
                <tr>
                    <td>
                        <select name="category">
                            <option value="Science">Science</option>
                            <option value="Histoire">Histoire</option>
                            <option value="Géographie">Géographie</option>
                            <option value="Culture">Culture</option>
                            <option value="Auto">Détection automatique</option>
                        </select>
                    </td>
                </tr>
            </table>
            <button type="submit">Envoyer</button>
        </form>
        <span>{{toshow}}</span>
    </div>

    <div class="sidenav">
        <a href="showDB.html">Afficher questions enregistrées</a>

        <a href="/" style="position: absolute; right: 0; left: 0 ; bottom: 20px">Retour</a>
    </div>
</body>
</html>
