<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Boonta Pursuit - Questions enregistrées</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="icon" href="/res/favicon.ico">
</head>

<body>
    <div class="sidenav">
        <a href="?show=All">Tous les Résultats</a>
        <a href="?show=Category&value=Histoire">Histoire</a>
        <a href="?show=Category&value=Géographie">Géographie</a>
        <a href="?show=Category&value=Culture">Culture</a>
        <a href="?show=Category&value=Science">Science</a>

        <div class="separator"></div>

        <a href="addDB.html">Soumettre une question</a>
        
        <a href="/" style="position: absolute; right: 0; left: 0 ; bottom: 20px">Retour</a>
    </div>

    <div class="main">
        <form method="post">
            <table>
                <tr>
                    <th>Question</th>
                    <th>Choix 1</th>
                    <th>Choix 2</th>
                    <th>Choix 3</th>
                    <th>Choix 4</th>
                    <th>Catégorie</th>
                    <th class="selectionRow">Supprimer</th>
                </tr>
                {{#toshow}}
                <tr>
                    <td>{{Question}}</td>
                    {{#Choices}}
                        {{#isValid}}
                            <td class="validAnswer">{{text}}</td>
                        {{/isValid}}
                        {{^isValid}}
                            <td>{{text}}</td>
                        {{/isValid}}
                    {{/Choices}}
                    <td>{{Category}}</td>
                    <td class="selection">
                        <input type="checkbox" name="remove" value="{{_id}}">
                    </td>
                    <!-- add select all button -->
                </tr>
                {{/toshow}}
                <tr class="submitButtonRow">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="submit">Supprimer</button></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
