.plateau {
    margin: 1% 0 0 5%;
    height: 0;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
}

/* Cases */
.tile-container a {
    position: fixed;
    width: 8vw;
    height: 5vw;
    line-height: 5vw;
}
.tile-container .tile-newline {
    width: 5vw;
    height: 7vw;
}
.tile-first, .tile-last-inverted {
    border-radius: 5px 0 0 5px;
}
.tile-last {
    border-radius: 0 5px 5px 0;
}
.tile-lastofline {
    border-radius: 0 5px 0 0;
}
.tile-lastofline-inverted {
    border-radius: 5px 0 0 0;
}
.tile-firstofline {
    border-radius: 0 0 0 5px;
}
.tile-firstofline-inverted {
    border-radius: 0 0 5px 0;
}
.tile::before, .tile-last::before, .tile-lastofline::before {
    content: "";
    position: absolute;
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;
    border-left: 2vw solid white;
}
.tile::after, .tile-first::after, .tile-firstofline::after {
    content: "";
    position: absolute;
    left: 8vw;
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;
    border-left: 2vw solid;
}
.tile-inverted::before, .tile-firstofline-inverted::before {
    content: "";
    position: absolute;
    left: -2vw;
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;
    border-right: 2vw solid;
}
.tile-inverted::after, .tile-last-inverted::after, .tile-lastofline-inverted::after {
    content: "";
    position: absolute;
    left: 6vw;
    border-top: 2.5vw solid transparent;
    border-bottom: 2.5vw solid transparent;
    border-right: 2vw solid white;
}
.tile-lastofline::after, .tile-lastofline-inverted::before, .tile-firstofline::before, .tile-firstofline-inverted::after {
    content: "";
    position: absolute;
    top: 5vw;
    right : 0;
    width: 5vw;
    height: 2vw;
}
.tile-firstofline-inverted::after {
    top: -3vw;
    height: 3vw;
}
.tile-firstofline::before {
    top: -3vw;
    height: 3vw;
    right: 3vw;
}
.tile-lastofline-inverted::before {
    top: 5vw;
    right : 3vw;
}
.tile-lastofline .arrow, .tile-lastofline-inverted .arrow {
    content: "";
    position: absolute;
    top: 7vw;
    right: 0vw;
    border-right: 2.5vw solid transparent;
    border-left: 2.5vw solid transparent;
    border-top: 2vw solid;
}
.tile-lastofline-inverted .arrow {
    right: 3vw;
}
.tile-firstofline .arrow, .tile-firstofline-inverted .arrow {
    content: "";
    position: absolute;
    top: -3vw;
    border-right: 2.5vw solid transparent;
    border-left: 2.5vw solid transparent;
    border-top: 2vw solid white;
    z-index: 1000;
}
.tile-firstofline-inverted .arrow {
    right: 0;
}
.tile-newline::after {
    content: "";
    position: absolute;
    left: 0vw;
    top: 7vw;
    border-right: 2.5vw solid transparent;
    border-left: 2.5vw solid transparent;
    border-top: 2vw solid;
    z-index: 1000;
}
.tile-newline::before {
    content: "";
    position: absolute;
    left: 0vw;
    top: 0vw;
    border-right: 2.5vw solid transparent;
    border-left: 2.5vw solid transparent;
    border-top: 2vw solid white;
}
.tile-container a:hover  {
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
}

.text, .text-inverted {
    left: 1vw;
    position: absolute;
    text-align: center;
    color: #f1f1f1;
    width: 100%
}
.text-inverted {
    left: -1vw;
}
.tile-newline .text, .tile-newline .text-inverted {
    left: 0;
    top: 2vw;
}
.text:hover, .text-inverted:hover {
    color: #111;
}

/* Token */
.token {
    position: fixed;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    border: 1px solid black;
    color: white;
    text-align: center;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Colors */
.tile-container .green, .tile-lastofline.green::after, .tile-firstofline.green::before, .tile-firstofline-inverted.green::after, .tile-lastofline-inverted.green::before {
    background-color: #078C5F;
}
.tile-first.green::after, .tile.green::after, .tile-firstofline.green::after {
    border-left-color: #078C5F;
}
.tile-inverted.green::before, .tile-firstofline-inverted.green::before{
    border-right-color: #078C5F;
}
.tile-lastofline.green .arrow, .tile-lastofline-inverted.green .arrow {
    border-top-color: #078C5F;
}

.tile-container .red, .tile-lastofline.red::after, .tile-firstofline.red::before, .tile-firstofline-inverted.red::after, .tile-lastofline-inverted.red::before {
    background-color: #BF553F;
}
.tile-first.red::after, .tile.red::after, .tile-firstofline.red::after {
    border-left-color: #BF553F;
}
.tile-inverted.red::before, .tile-firstofline-inverted.red::before {
    border-right-color: #BF553F;
}
.tile-lastofline.red .arrow, .tile-lastofline-inverted.red .arrow {
    border-top-color: #BF553F;
}

.tile-container .pink, .tile-lastofline.pink::after, .tile-firstofline.pink::before, .tile-firstofline-inverted.pink::after, .tile-lastofline-inverted.pink::before {
    background-color: #DB7093;
}
.tile-first.pink::after, .tile.pink::after, .tile-firstofline.pink::after {
    border-left-color: #DB7093;
}
.tile-inverted.pink::before, .tile-firstofline-inverted.pink::before {
    border-right-color: #DB7093;
}
.tile-lastofline.pink .arrow, .tile-lastofline-inverted.pink .arrow {
    border-top-color: #DB7093;
}

.tile-container .blue, .tile-lastofline.blue::after, .tile-firstofline.blue::before, .tile-firstofline-inverted.blue::after, .tile-lastofline-inverted.blue::before {
    background-color: #0000CD;
}
.tile-first.blue::after, .tile.blue::after, .tile-firstofline.blue::after {
    border-left-color: #0000CD;
}
.tile-inverted.blue::before, .tile-firstofline-inverted.blue::before {
    border-right-color: #0000CD;
}
.tile-lastofline.blue .arrow, .tile-lastofline-inverted.blue .arrow {
    border-top-color: #0000CD;
}

.tile-container .purple, .tile-lastofline.purple::after, .tile-firstofline.purple::before, .tile-firstofline-inverted.purple::after, .tile-lastofline-inverted.purple::before {
    background-color: #4B0082;
}
.tile-first.purple::after, .tile.purple::after, .tile-firstofline.purple::after {
    border-left-color: #4B0082;
}
.tile-inverted.purple::before, .tile-firstofline-inverted.purple::before {
    border-right-color: #4B0082;
}
.tile-lastofline.purple .arrow, .tile-lastofline-inverted.purple .arrow {
    border-top-color: #4B0082;
}

.tile-container .orange, .tile-lastofline.orange::after, .tile-firstofline.orange::before, .tile-firstofline-inverted.orange::after, .tile-lastofline-inverted.orange::before {
    background-color: #D2691E;
}
.tile-first.orange::after, .tile.orange::after, .tile-firstofline.orange::after {
    border-left-color: #D2691E;
}
.tile-inverted.orange::before, .tile-firstofline-inverted.orange::before {
    border-right-color: #D2691E;
}
.tile-lastofline.orange .arrow, .tile-lastofline-inverted.orange .arrow {
    border-top-color: #D2691E;
}
