/*
*   style for the bottom question bar
*/
.questionbar {
    width: 80%;
    height: 30%;
    position: fixed;
    margin: 5% 5% 2% 5%;
    text-align: center;
    border-radius: 50px;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: #BF553F;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
}

/* style for the question */
.questionbar .question {
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    position: relative;
    border-bottom: 1px solid #f1f1f1;
}

.questionbar .answer {
    padding: 6px 16px 6px 16px;
    font-size: 16px;
    color: #f1f1f1;
    position: relative;
    top: 20%;
}

.questionbar .answer:hover {
    color: #111;
    background-color: #f1f1f1;
    text-decoration: none;
}