input {
    border: none;
    border-bottom: 2px solid #BF553F;
    text-decoration: none;
    background-color: white;
    font-size: 25px;
    margin: 5px;
    position: relative;
}
select {
    padding: 6px 8px 6px 8px;
    border: 2px solid #f1f1f1;
    text-decoration: none;
    background-color: #f1f1f1;
    margin: 5px;
    font-size: 25px;
}

button {
    border: none;
    text-align: center;
    padding: 6px 8px 6px 8px;
    color: #f1f1f1;
    background-color: #BF553F;
    font-size: 25px;
    width: 100%;
}

button:hover {
    color: #111;
    background-color: #f1f1f1;
}

.form-container {
    background-color: #BF553F;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    left: 35%;
    top: 20%;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
    text-align: center;
}

span {
    color: #f1f1f1;
}
