/* Menu */
#menu {
    width: 20%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #BF553F;
    overflow-x: hidden;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
}

/* Boutons */
#menu a {
    text-align: center;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}

#menu a:hover {
    color: #111;
    background-color: #f1f1f1;
}

/* Menu label */
#menu #menulabel {
    text-align: center;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    background-color: #BF553F;
    margin-bottom: 0px;
}

#menu #menulabel:hover {
    cursor: pointer;
    color: #111;
    background-color: #f1f1f1;
}

#menu p {
    text-align: center;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    background-color: #BF553F;
    margin-bottom: 0px;
}

#titre {
    color: #111;
    text-align: center;
    font-size: 42px;
    margin-top: 9%;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
}

input {
    padding: 6px 8px 6px 8px;
    border: 2px solid #BF553F;
    text-decoration: none;
    background-color: #f1f1f1;
    font-size: 25px;
    position: relative;
    width: 65%;
}
select {
    padding: 6px 8px 6px 8px;
    border: 2px solid #BF553F;
    text-decoration: none;
    background-color: #f1f1f1;
    font-size: 25px;
    float: right;
    width: 35%;
}

button {
    text-align: center;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-size: 25px;
    background-color: #BF553F;
    border: none;
    display: block;
    color: #f1f1f1;
    width: 100%;
}

button:hover {
    background-color: #f1f1f1;
    color: #111;
}
