 /* The sidebar menu */
 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 10%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #BF553F; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-left: 90%;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
}

/* The navigation menu links */
.sidenav a, .sidenav .playername {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
}

.sidenav .current-playername {
    color: #111;
    background-color: #f1f1f1;
}

#dice-button-disabled, #endTurn-button-disabled {
    pointer-events: none;
    color: #acacac;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #111;
    background-color: #f1f1f1;
}

/* Style page content */
.main {
    margin-right: 10%; /* Same as the width of the sidebar */
    padding: 0px 10px;
} 
  

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        width: 5%;
        margin-left: 95%;
    }
    .sidenav a {font-size: 10px;}
}

.separator {
    height: 2px;
    width: 50%;
    background-color: #f1f1f1;
    margin: 6px 4px 6px 40px;
}