table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.submitButtonRow td {
    border: 0px;
    padding-left: 0px;
}

.selectionRow {
    width: 10px;
}

.selection {
    text-align: center;
}

.validAnswer {
    background-color: lightgreen;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: white;
}


tr:last-child {
    background-color: transparent;
}


button {
    border: none;
    text-align: center;
    padding: 6px 8px 6px 8px;
    color: #f1f1f1;
    background-color: #BF553F;
    filter:drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
}

button:hover {
    color: #111;
    background-color: #f1f1f1;
}
